body, html {
    padding: 0!important ;
    margin: 0 !important;
}


.forumBox li {
    position: absolute;
}

.background_contain {
    height: 130%;
    width: 100%;
    background-image: url('Content\200w.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonCR {
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

    .buttonCR:hover {
        background-color: #74b758 !important;
    }

.ad-container {
    position: absolute;
    left: 0;
    top: 280px;
    width: 300px;
}

.ad-container2 {
    position: absolute;
    width: 800px;
    top: 280px;
    margin-left: 970px;
}

.button-container {
    margin-top: 20px;
}